sumit_data/BackEnd_DOTNET/Sahyadri_Navigator_RESTAPI/.vs/Sahyadri_Navigator_RESTAPI/FileContentIndex/4552b838-402e-4242-a418-60f1545dc84b.vsidx
sumit_data/BackEnd_DOTNET/Sahyadri_Navigator_RESTAPI/.vs/Sahyadri_Navigator_RESTAPI/FileContentIndex/998afde7-6581-4672-94dc-242a848c9a4a.vsidx
sumit_data/BackEnd_DOTNET/Sahyadri_Navigator_RESTAPI/.vs/Sahyadri_Navigator_RESTAPI/FileContentIndex/9840fab6-6c9e-4115-9240-780cc79f62f1.vsidx
.vs/slnx.sqlite
