.trekk-details-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.image-box {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.details {
    color:red
}
.trekk-details-list {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to the next line if there's not enough space */
    gap: 50px; /* Adjust the gap between cards as needed */
}


